{% extends 'demo9base.html' %} {% block body %}

<div class="container-fluid">
    <div class="row" style="text-align: center">Demo9</div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">1. Multiple files upload</div>
        <div class="col-xs-12">
            <form action="/demo9/multiupload/" method="post" class="uploader" id="uploader" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="fileuploads" multiple="multiple" accept="image/*">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">2. Server push and qr code</div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <span>Message: </span>
                <span id="ws_message"></span>
            </div>
            <a id="wsqr" href="">Generate QR Code</a>
        </div>
        <div class="col-xs-12" id="qrcode_img"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">3. Table sort</div>
        <div class="col-xs-12">
            <h5 class="draggable printable resizable" data-name="h5#0">Books</h5>
            <table id="t-1" class="sortable draggable printable resizable">
                <thead>
                    <tr>
                        <th class="sort-alpha">Title</th>
                        <th class="sort-alpha">Author(s)</th>
                        <th class="sort-date">Publish Date</th>
                        <th class="sort-numeric">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td class="editable">{{ book.name }}</td>
                        <td class="editable">{{ book.author }}</td>
                        <td class="editable">{{ book.publish_date.isoformat }}</td>
                        <td class="editable">{{ book.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">4. Report template and print</div>
        <div class="col-xs-12">
            <h6>Add Element</h6>
            <span>Template Name</span>
            <input type="text" id="tplNam" placeholder="template name" />
            <span id="template_msg"></span>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="col-xs-1">Add a table</div>
                    <input type="text" class="para_tbl" id="tblMod" placeholder="model name" />
                    <input type="text" class="para_tbl" id="tblFltCon" placeholder="filter conditons" />
                    <input type="text" class="para_tbl" id="tblCol" placeholder="field names" />
                    <a href="#" class="add_element" id="add_table">OK</a>
                </li>
                <li class="list-group-item">
                    <div class="col-xs-1">Add a field</div>
                    <input type="text" class="para_fld" id="fldMod" placeholder="model name" />
                    <input type="text" class="para_fld" id="fldFltCon" placeholder="filter conditons" />
                    <input type="text" class="para_fld" id="fldCol" placeholder="field name" />
                    <a href="#" class="add_element" id="add_field">OK</a>
                </li>
                <li class="list-group-item">
                    <div class="col-xs-1">Add a label</div>
                    <input type="text" id="lblTxt" placeholder="label text" />
                    <a href="#" class="add_element" id="add_label">OK</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 template resizable printarea" id="template"></div>
        <div class="col-xs-12">
            <input id="save" type="button" value="Save" />
            <input id="load" type="button" value="Load" />
            <input id="reset" type="button" value="Reset" />
            <input id="print" type="button" value="Print" />
        </div>
    </div>

    <input id="edit_box" style="font-size: x-small;" hidden="hidden">
</div>
<br>

</div>

{% endblock %}