{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row" id="bsetting">
        <div class="col-md-4 col-sm-6 col-xs-12">
            {% for i in setting %}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 caption">{{ i.name }}</div>
                    <div class="col-md-6 col-sm-6 col-xs-12 content"></div>
                </div>
            {% endfor %}

        </div>
    </div>
</div>
<script>
    $('#bsetting .content').html($('#bsetting .caption').outerWidth());
</script>
{% endblock %}
{% block footer %}
<div class="container-fluid">
    <div class="row">
        copyright Quantum Supply Chain Management Co., Ltd.
    </div>
</div>
{% endblock %}