{% extends 'base.html' %}

{% block body %}
<script type="text/javascript" src="/static/js/jquery.ajax.min.js"></script>
<script type="text/javascript" src="/static/js/js.cookie.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    // ajax csrf
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    var p_data = {};
    $('#save_n_create_scheme').click(function(e){
        e.preventDefault();
        p_data['scheme_name'] = $('.scheme_name').text();
        p_data['scheme_setting'] = {};
        $('.scheme_setting').each(function(i, element) {
            var scheme_setting_id = $(element).find('.scheme_setting_name').attr('id'),
                scheme_setting_value = $(element).find('.scheme_setting_value').text();
            p_data['scheme_setting'][scheme_setting_id] = scheme_setting_value;
        });
        console.log(p_data);
        $.ajax({
            url: "/{{ platform|lower }}/{{ service|lower }}/scheme/save_n_create_scheme/",
            dataType: "json",
            method: "POST",
            data: p_data,
        }).done(function(json) {
            var scheme_id = json['scheme_id'],
                msg = "Scheme " + scheme_id + " was created.";
            $('#scheme_caption').html(msg);
        })
    });
});
</script>

<!--User Commands-->
<div class="container-fluid" style="background-color: #A5D1F3;">
    <div class="row">User: {{ username }}</div>
    <div class="row"><a href="/{{ platform|lower }}/logout/">Log Out</a></div>
</div>

<div class="container-fluid" style="font-size: x-small;">
    <table class="table table-bordered table-condensed" style="width: 500px">
        <caption style="font-size: small; font-weight:bold; font-style: italic"><span id="scheme_caption">Create a New Scheme</span></caption>
        <thead>
            <tr><!-- 列标题 -->
                <th>Setting</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Scheme Name</td><td class="scheme_name">xxxxx</td>
            </tr>
            {% for scheme_setting in scheme_settings %}
            <tr class="scheme_setting">
                <td id="{{ scheme_setting.pid }}" class="scheme_setting_name">{{ scheme_setting.name }}</td>
                <td class="scheme_setting_value">1</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-xs-12"><a id="save_n_create_scheme" href="">Save and Create</a></div>
    <input id="input_box" style="height:0; width: 100px; border: 0; padding: 0;">
</div>

{% endblock %}