{% extends 'base.html' %}

{% block body %}
<script type="text/javascript" src="/static/js/js.cookie.js"></script>
<script type="text/javascript">
var ajax_url = "/{{ platform|lower }}/{{ service|lower }}/scheme/save_n_create_scheme/"
</script>
<script type="text/javascript" src="/static/js/scheme.js"></script>

<!--User Commands-->
<div class="container-fluid" style="background-color: #A5D1F3;">
    <div class="row">User: {{ username }}</div>
    <div class="row"><a href="/{{ platform|lower }}/{{ service|lower }}/">Back</a></div>
    <div class="row"><a href="/{{ platform|lower }}/logout/">Log Out</a></div>
</div>

<div class="container-fluid" style="font-size: x-small;">
    <table class="table table-bordered table-condensed" style="width: 500px">
        <caption style="font-size: small; font-weight:bold; font-style: italic"><span id="scheme_caption">Create a New Scheme</span></caption>
        <thead>
            <tr><!-- 列标题 -->
                <th style="width: 200px">Setting</th>
                <th style="width: 300px">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Scheme Name</td><td class="scheme_name editable notnull" data-type="text"></td>
            </tr>
            <tr>
                <td>Owner</td><td>{{ username }}</td>
            </tr>
            {% for setting in settings %}
            <tr class="scheme_setting">
                <td id="{{ setting.pid }}" class="setting_name">{{ setting.name }}</td>
                <td class="scheme_setting_value editable notnull" data-type="{{ setting.type }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col-xs-12"><a id="save_n_create_scheme" href="">Save and Create</a></div>
    <input id="edit_box">
</div>

{% endblock %}