{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {{ error_message }}
    </div>
    <div class="row">
        <div class="col-md-4">
            <form action="/horizon/register/" method="post">
                {% csrf_token %}
                <label for="username">Username: </label>
                <input id="username" type="text" name="username"><br>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password"><br>
                <input type="submit" value="Register">
            </form>
        </div>

    </div>
</div>
{% endblock %}