{% extends 'base.html' %}

{% block body %}

<div class="container-fluid header">
    User: {{ username }}
</div>


<!--设置栏-->
<div class="container-fluid settings" style="border: 2px #1b6d85 solid;">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            {{ scheme.name }}
        </div>
    </div>
</div>

<!--数据表-->
<div class="container-fluid datasheet">
    <div><!--数据行-->
        {% for table in data_sheet_tables %}
        <div class="row data_sheet" id="{{ table.id }}">
            <div class="row" style="font-size: x-large">
                <div class="col-xs-12 data_sheet_title">Data Sheet {{ table.name }}</div>
            </div>
            <div class="row"><!-- 列标题 -->
                {% for col_header in table.table_header %}
                <div class="col-xs-1 data_sheet_column_header" style="border: 1px #d6e9c6 solid; background-color: #3e8f3e">{{ col_header }}</div>
                {% endfor %}
            </div>
            {% for row in table.table_content %}
            <div class="row" id="{{ row.id }}"><!-- 数据行 -->
                {% for item in row.content %}
                <div class="col-xs-1 data_sheet_column_content" style="border: 1px #d6e9c6 solid;">{{ item }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <!--Logout-->
    <div>
        <div class="col-md-1 col-xs-2">
            <a href="/horizon/logout/">logout</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container-fluid">
    <div class="row">
        Copyright Quantum Supply Chain Management Co., Ltd.
    </div>
</div>
{% endblock %}