{% extends 'base.html' %}

{% block body %}

<!--User Commands-->
<div class="container-fluid" style="background-color: #A5D1F3;">
    <div class="row">User: {{ username }}</div>
    <div class="row"><a href="/{{ platform|lower }}/{{ service|lower }}/">Back</a></div>
    <div class="row"><a href="/{{ platform|lower }}/logout/">Log Out</a></div>
</div>

<!--标题栏-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12">{{ scheme.name }}</div>
    </div>
</div>

<!--数据表-->
<div class="container-fluid" style="overflow: scroll; text-align: left;">
    <div><!--数据表-->
        {% for table in tables %}
        <div class="container" id="{{ table.id }}">
            <div class="row" style="font-size: small">
                <div class="col-xs-12">Data Sheet {{ table.name }}</div>
            </div>
            <div class="row"><!-- 列标题 -->
                {% for col_header in table.table_header %}
                <div class="col-xs-1 data_sheet_column_header" style="border: 1px #d6e9c6 solid; background-color: #3e8f3e">{{ col_header }}</div>
                {% endfor %}
            </div>
            {% for row in table.table_content %}
            <div class="row" id="{{ row.id }}"><!-- 数据行 -->
                {% for item in row.content %}
                <div class="col-xs-1 data_sheet_column_content" style="border: 1px #d6e9c6 solid;">{{ item }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}